[Unit]
Description=Deluge Bittorrent Client Web Interface
After=deluged.service

[Service]
Type=simple
User=$USER
Group=$USER
UMask=027
ExecStart=/config/deluge-Web/deluge-web -c /config/deluge-Web
Restart=on-failure

[Install]
WantedBy=multi-user.target
