[Unit]
Description=Deluge Bittorrent Client Daemon
After=network-online.target

[Service]
Type=simple
User=$USER
Group=$USER
UMask=007
ExecStart=/config/deluged/deluged -d -c /config/deluged
Restart=on-failure
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target
